.parent-loader {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-100);

  p {
    color: var(--quaternary-100);
    position: absolute;
    bottom: 2vw;
  }

  .loader {
    height: 2vw; 
    aspect-ratio: 4;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .letter {
      font-size: 2rem; 
      font-weight: bold;
      animation: bounce 1.5s infinite;
      margin: 0 5px; 

      &:nth-child(1) { 
        color: var(--secondary-100);
        animation-delay: 0s; 
      }
      &:nth-child(2) { 
        color: var(--secondary-070); 
        animation-delay: 0.2s; 
      }
      &:nth-child(3) { 
        color: #ffff; 
        animation-delay: 0.4s; 
      }
      &:nth-child(4) { 
        color: var(--secondary-070); 
        animation-delay: 0.6s; 
      }
      &:nth-child(5) { 
        color: var(--secondary-100);
        animation-delay: 0.8s; 
      }
    }
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
